/.venv/*
__pycache__
.idea/*

task1/data/*
task2/image_data/*
task2/results/*

mnist_rf.pkl
mnist_nn.pt
mnist_cnn.pt
animal_classifier.pt
result.json
labels.json
ner_data.csv
ner_model.pt
tags.json

animal_classifier_custom.pt
ner_model_custom.pt
tags_custom.json
labels_custom.json
